@model IEnumerable<online_sms_site.Models.chatting>

@{
    ViewBag.Title = "friendchat";
    //Layout = "~/Views/Shared/_userlayout.cshtml";
    Layout = null;

}

<p> ViewBag.photo</p>
<p> ViewBag.id</p>
@*<div class="conversation-item-side">
    <img class="conversation-item-image" src="@Url.Content(ViewBag.frphoto)" alt="">
</div>
@foreach (var x in Model)
{
    <div class="conversation-item-content">
        <div class="conversation-item-wrapper">
            <div class="conversation-item-box">
                <div class="conversation-item-text">
                    <p>@x.f</p>
                    <div class="conversation-item-time">@x.date_time</div>
                </div>
                <div class="conversation-item-dropdown">
                    <button type="button" class="conversation-item-dropdown-toggle"><i class="ri-more-2-line"></i></button>
                    <ul class="conversation-item-dropdown-list">
                        <li><a href="#"><i class="ri-share-forward-line"></i> Forward</a></li>
                        <li><a href="#"><i class="ri-delete-bin-line"></i> Delete</a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>}*@
